/target
.vscode/

# Python cache in sub folders
**/__pycache__/

# Those are typically removed by the program
# but just in case, the one for scripts are
# already ignored by ignoring __pycache__
**/*.package